aiohttp==3.11.11
croniter==6.0.0
fastapi==0.115.8
python-jose==3.3.0
kubernetes==32.0.0
minio==7.2.15
nats-py==2.8.0
passlib==1.7.4
pydantic==2.10.6
python-dotenv==1.0.1
Requests==2.32.3
SQLAlchemy==2.0.37
starlette==0.45.3
uvicorn==0.34.0
python-multipart==0.0.19
websocket-client==1.8.0
wsproto==1.2.0
