CONTAINER_MODE=False
K8S_IN_CLUSTER_MODE=False
K8S_VELERO_NAMESPACE=velero
KUBE_CONFIG_FILE=~/.kube/config
DEBUG_LEVEL=info
ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]
API_ENDPOINT_URL=0.0.0.0
API_ENDPOINT_PORT=8001
VELERO_CLI_PATH=../velero-client
VELERO_CLI_VERSION=v1.12.2
VELERO_CLI_DEST_PATH=/usr/local/bin
API_ENABLE_DOCUMENTATION=1
API_TOKEN_EXPIRATION_MIN=60
SECURITY_PATH_DATABASE=/data
SECURITY_TOKEN_KEY=<your-token-key>
SECURITY_DISABLE_USERS_PWD_RATE=1
API_RATE_LIMITER_L1=60:10
API_RATE_LIMITER_L2=60:120
API_RATE_LIMITER_L3=60:300
API_RATE_LIMITER_L4=60:500
API_RATE_LIMITER_L5=60:1000
